.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  opacity: 0.9;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
  transform: rotateX(90deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(-90deg) translateY(100px);
  transform-origin: bottom center;
}

.faceContent {
  width: 196px;
  height: 196px;
  margin: 2px;
}

.front .faceContent {
  background-color: #c38d9e;
}

.back .faceContent {
  background-color: #df6c4f;
}

.right .faceContent {
  background-color: #41b3a3;
}

.left .faceContent {
  background-color: #c38d9e;
}

.top .faceContent {
  background-color: #df6c4f;
}

.bottom .faceContent {
  background-color: #41b3a3;
}

.animate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
