.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards 3s;
  animation: fadeIn 1s forwards 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
