/* .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.cubeContainer {
  display: flex;
  justify-content: flex-start;
  top: 80rem;
  width: 60vw;
} */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cubeContainer {
  position: absolute;
  left: 65vw;
  top: 8px;
  opacity: 0;
  animation: fadeIn 1s forwards 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cubeContainer {
    display: none;
  }
}
